<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>GymBuddy</title>
    </head>
    <body>
        <header class="header">
            <a href="/">
                <h1 class="header-title">GymBuddy</h1>
            </a>
            <p class="header-subtitle">Your personal workout companion.</p>
        </header>
        <div class="content">
            {{ if gt (len .Workouts) 0 }}
            <h2 class="content-title">Workouts</h2>
            <p class="content-subtitle">Select your workout.</p>
            <nav>
                {{ range .Workouts }}
                <a href="/workout/{{ .ID }}">
                    <div class="card card-link">
                        <div class="card-text">{{ .Name }}</div>
                    </div>
                </a>
                {{ end }}
            </nav>
            {{ else }}
            <p class="content-subtitle content-text-center">
                No workouts have been configured.
            </p>
            {{ end }}
        </div>
        <footer class="footer">
            <p class="footer-text">
                Make me better on
                <a
                    class="footer-link"
                    href="https://github.com/steveiliop56/gymbuddy"
                    >GitHub</a
                >.
            </p>
        </footer>
    </body>
</html>
