:root {
    --bg: #111111;
    --primary: #008000;
    --primary-rgb: 0, 128, 0;
    --danger: #ce2029;
    --danger-rgb: 206, 32, 41;
    --link: #0070bb;
    --text: #ffffff;
    --text-rgb: 255, 255, 255;
    --accent: #242124;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:focus,
a:hover {
    opacity: 0.8;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid var(--accent);
    gap: 0.5rem;
}

.header-title {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 600;
}

.header-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-top: 1px solid var(--accent);
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 1rem;
    font-weight: 400;
}

.footer-link {
    color: var(--link);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.content-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.content-subtitle {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: 1.25rem;
}

.content-text-center {
    text-align: center;
}

.card {
    display: flex;
    padding: 1rem;
    border: 2px solid rgba(var(--primary-rgb), 0.2);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.card-link {
    cursor: pointer;
}

.card-link:hover {
    border: 2px solid rgba(var(--primary-rgb), 0.1);
}

.card-text {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    color: var(--text);
}

.button {
    background-color: transparent;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    color: var(--text);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.button:disabled {
    border: 2px solid var(--accent);
    cursor: not-allowed;
    color: rgba(var(--text-rgb), 0.6);
}

.button:disabled:hover {
    border: 2px solid var(--accent);
}

.button-danger {
    border: 2px solid rgba(var(--danger-rgb), 0.2);
}

.button-danger:hover {
    border: 2px solid rgba(var(--danger-rgb), 0.1);
}

.button-primary {
    border: 2px solid rgba(var(--primary-rgb), 0.2);
}

.button-primary:hover {
    border: 2px solid rgba(var(--primary-rgb), 0.1);
}

.code {
    background-color: var(--accent);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75rem;
    overflow-x: auto;
}

.separator {
    height: 1px;
    display: block;
    background-color: var(--accent);
    margin-bottom: 1.25rem;
}

.exercise-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

.exercise-detail {
    color: var(--text);
    opacity: 0.8;
}

.exercise-status {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.exercise-status-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.exercise-status-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
