<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>GymBuddy</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">GymBuddy</h1>
            <p class="header-subtitle">Your personal workout companion.</p>
        </header>
        <div class="content">
            {{ if gt (len .Exercises) 0 }}
            <h2 class="content-title">Exercises</h2>
            <p class="content-subtitle">
                Select your exercise in the {{ .Name }} workout.
            </p>
            <nav>
                {{ range .Exercises }}
                <a href="/exercise/{{ $.ID }}/{{ .ID }}">
                    <div class="card card-link">
                        <div class="card-text">{{ .Name }}</div>
                    </div>
                </a>
                {{ end }}
                <button onclick="history.back()" class="button button-danger">
                    Back
                </button>
            </nav>
            {{ else }}
            <p class="content-subtitle content-text-center">
                No exercises have been configured.
            </p>
            {{ end }}
        </div>
        <footer class="footer">
            <p class="footer-text">
                Make me better on <a class="footer-link">GitHub</a>.
            </p>
        </footer>
    </body>
</html>
